<p>
  home works!2
</p>
<ul>
    <li *ngFor="let number of numbers">{{number}}</li>
</ul>

<div *ngIf="numbers">
    There are {{numbers.length}} numbers.
</div>
<div *ngIf="!numbers">
    There are no fucking numbers
</div>