<nav>
    <h1>{{title}}</h1>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/contact">contact</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer>
    &copy; lew
</footer>